# Test Report - QA

## Proyecto
LoopBook

## Fecha
22 de abril de 2026

## Responsable
Alexis Alavarado Gomez - QA

## TC-001
| Campo                | Detalle                         |
|---------------------|---------------------------------|
| Caso                | Registro de usuario     |
| Entrada             | Usuario, correo y contraseña   |
| Esperado            | Usuario se registra |
| Obtenido            | Usuario guardado en la BD               |
| Estado              | Correcto                        |
## TC-002
| Campo                | Detalle                         |
|---------------------|---------------------------------|
| Caso                | Inicio de sesión          |
| Entrada             | Correo y contraseña correctos   |
| Esperado            | Usuario inicia sesión  |
| Obtenido            | Usuario inicia sesión y tiene acceso al contenido|
| Estado              | Correcto                        |
