# Test Report - QA

## Proyecto
LoopBook

## Fecha
22 de abril de 2026

## Responsable
Alexis Alavarado Gomez - QA

## TC-001
| Campo                | Detalle                         |
|---------------------|---------------------------------|
| Caso                | Registro de usuario     |
| Entrada             | Usuario, correo y contraseña   |
| Esperado            | Usuario se registra |
| Obtenido            | Usuario guardado en la BD               |
| Estado              | Correcto                        |
## TC-002
| Campo                | Detalle                         |
|---------------------|---------------------------------|
| Caso                | Inicio de sesión          |
| Entrada             | Correo y contraseña correctos   |
| Esperado            | Usuario inicia sesión  |
| Obtenido            | Usuario inicia sesión y tiene acceso al contenido|
| Estado              | Correcto                        |
## TC-003
| Campo                | Detalle                         |
|---------------------|---------------------------------|
| Caso                | Acceso a módulos          |
| Entrada             | Inicio de sesion   |
| Esperado            | Mostrar módulos  |
| Obtenido            | Usuario puede ver los módulos y ingresar a ellos|
| Estado              | Correcto                        |
## TC-004
| Campo                | Detalle                         |
|---------------------|---------------------------------|
| Caso                | Ejercicios          |
| Entrada             | Contenido de módulos   |
| Esperado            | Mostrar contenido   |
| Obtenido            | Usuario puede ver contenido y preguntas|
| Estado              | Correcto                        |
## TC-005
| Campo                | Detalle                         |
|---------------------|---------------------------------|
| Caso                | Ejercicios          |
| Entrada             | Realizar ejercicio   |
| Esperado            | Guardar respuestas en BD   |
| Obtenido            | Respuesta y progreso guardado|
| Estado              | Correcto                        |
## TC-006
| Campo                | Detalle                         |
|---------------------|---------------------------------|
| Caso                | Ejercicios          |
| Entrada             | Progreso de módulos   |
| Esperado            | Mostrar progreso de modulos  |
| Obtenido            | Sistema muestra el progreso por módulo |
| Estado              | Correcto                        |
## TC-007
| Campo                | Detalle                         |
|---------------------|---------------------------------|
| Caso                | Boton de inicio|
| Entrada             | Regresar al inicio   |
| Esperado            | Funcionalidad correcta de la función inicio   |
| Obtenido            | Regreso al incio|
| Estado              | Correcto                        |
## TC-008
| Campo                | Detalle                         |
|---------------------|---------------------------------|
| Caso                | Regresar a lecciones |
| Entrada             | Funcion de navegacion   |
| Esperado            | Regreso a la ventana Módulos  |
| Obtenido            | Acción realizada|
| Estado              | Correcto                        |
## TC-009
| Campo                | Detalle                         |
|---------------------|---------------------------------|
| Caso                | Cerrar Sesión |
| Entrada             | Cierre de sesion   |
| Esperado            | Sesión cerrada desde la página |
| Obtenido            | Sesión cerrada de froma correcta|
| Estado              | Correcto                        |
