TEST REPORT

Diseñador:
Sus pantallas renovadas dan un buen uso, ya que son mas llamativas
al publico y están muy bien organizadas 

Dev líder:
Por este modo me resulto difícil entrar pero por problemas de usuario,
y una vez visto el sistema, hay un pequeño detalle al momento del registro
ya que tengo que hacer el zoom lejos para poder escribir en todos los campos,
fuera de eso el registro cumple, los espacios no quedan vacíos, los emails
deben ser aceptados, el sistema funciona bien y tiene mejor diseño que el 
anterior

Analista:
Los requisitos funcionales y no funcionales cumplen en su mayoría, 
hay uno de “las contraseñas no se muestran visibles” 
en si no se muestran pero si tiene una opción para hacerlo, y sobre todo la ortografía 
