# Test Report - QA

## Proyecto
LoopBook

## Fecha
22 de abril de 2026

## Responsable
Alexis Alavarado Gomez - QA

## Pruebas
| Campo                | Detalle                         |
|---------------------|---------------------------------|
| Caso                | Registro de usuario     |
| Entrada             | Usuario, correo, contraseña, confimar contraeña   |
| Esperado            | Usuario se registra correctamente |
| Obtenido            | Usuario guardado en la BD               |
| Estado              | Correcto                        |
