# Test Report - QA

## Proyecto
Simulador de entrenamiento para entrevistas de trabajo

## Fecha
22 de abril de 2026

## Responsable
Alexis AG
